.divConteiner{
    display: flex;
    height: 100%;
    width: 100%;
    top:30px;
    margin: 0;
  }
  
  .form_container {
    top: 24vh;
      max-width: 300px;
      margin: 0 auto;
      margin-left: 15%;
      border-radius: 15px;
    }
    
    .form_container input[type='submit'] {
      border-radius: 8px;
      background-color: #16479d;
      color: #fff;
      border: none;
      min-width: 10px;
      min-height: 2.5rem;
      width: 95.5%;
      cursor: pointer;
      font-size: 1.1em;
      font-weight: bold;
    }
    
    .form_container input[type='submit']:hover {
      background-color: #0c3557;
    }
    
    .form_container p {
      margin-top: 1em;
    }
    
    .form_container p a {
      color: #16479d;
      font-weight: bold;
    }
  
    .areaText  {
      padding: 0.7em;
      border: 1px solid #777;
      border-radius: 5px;
      height: 80px;
    }
  
    .divAviso{
      position: fixed;
      margin-left: -15%;
      margin-top: 2%;
      width: 15%;
      height: 30%;
      background-image: linear-gradient( #f7f9ffe8, rgb(232, 232, 246));
      border-radius: 5px;
      padding: 5% 3% 5% 3%;
     
    }
    

    .verde{
      color: rgb(6, 164, 6);
    }

    .azul{
      color: blue;
    }

    .date{
      color: rgb(12, 75, 143);
    }

    .btnEs{
      align-items: center;
      background-color: #16479d;
      color: #fff;
      cursor: pointer;
      padding: 0.2%;
      width: 11%;
      height: 35px;
      border-radius: 30px;
      font-size: 30px;
      display: flex;
  }
  .btnEs:hover{
    background-color: #0c2a5f;
    transition: .3s;  
  }

  .divDescription{
    padding-bottom: 10%;
    margin-top: 40px;
    width: 120%;     
  }


  .imputComent{
      width: 180%;
      padding: 0.7em;
      border: none;
    }

    .imputComent:hover{
      text-decoration: none;
      transition: .6s;
    }

    .iconComent{
      width: 10%;
      margin-right: 0;
      padding: 0.7em;
      border-radius: 3px;
      cursor: pointer
  
    }

    .logoComments{
      width: 10%;
      height: 60%;
      margin-right: -4%;
      padding: 0.7em;
      border: 1px solid transparent;
      border-radius: 3px;
  
    }

  .divListLogNome{
    background-color: rgba(249, 252, 254, 0.985);
    align-items: center;
    display: flex;
    margin-top: 8%;
    border-radius: 3px;
    width: 140%;

  }

  .divListComments{
    background-color: rgba(231, 238, 249, 0.186);
    align-items: center;
    display: flex;
    margin-top: 0;
    border-radius: 3px;
    width: 140%;
    margin-bottom: 10%;

  }

  .divComments {
    display: flex;
    margin-top: 2%;
    width: 140%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid rgb(75, 73, 73);
    padding: 1%;
  }

    /* animation: 3s linear 1s infinite alternate slidein; */
  
  
    
  
    
    