.message {
    width: 45%;
    text-align:center;
    font-size: 13px;
    max-width: 60%;
    top: 13%;
    margin: auto 0 auto 46.4%;
    position: fixed;
    z-index: 9;
    padding: 5px;
    transition: .6;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success {
    background-color: rgb(197, 255, 214);
    color: #008a1e;
  }
  
  .error {
    color: #000000;
    background-color: #ee6464;
    border-color: #f5c6cb;
  }
  